<f:layout name="Default" />

<f:section name="Title">Editar Categoria</f:section>

<f:section name="Content">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"  crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <div style="width: 100%">
        <f:form action="update" object="{categoria}" objectName="categoria">
            
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <f:form.textfield property="categoria" class="form-control" maxlength="100"/>
            </div>

             <div class="form-group">
                <label for="categoriaEn">Categoria Ingles</label>
                <f:form.textfield property="categoriaEn" class="form-control" maxlength="100"/>
            </div>

            <div class="form-group" >
                <label for="publicar">Publicar</label>
                <f:form.select property="publicar" name="publicar" class="form-control" options="{0: 'NO', 1: 'SI'}"/>
            </div>

        <f:form.submit value="Actualizar" class="btn btn-primary"/>
        <f:link.action class="btn btn-success" action="index">Regresar</f:link.action>
        </f:form>
    </div>
</f:section>