<f:layout name="Default" />

<f:section name="Title">Categoria</f:section>

<f:section name="Content">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"  crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
			
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	
	<input type="hidden" value="{dominio}" id="dominio">
	<div style = "margin-left: 30px; margin-right: 30px;">
		<table id="example" class="table table-dark" style="width:100%;color:black;font-size:16px;">
			<thead>
				<tr>		   
					<th style="color:white;">Categoria</th>
					<th style="color:white;">Publicar</th>
					<th style="color:white;">Id</th>
					<th style="color:white;">Editar</th>
					<th style="color:white;">Eliminar</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="modal fade" id="delete-file-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

				<form class="form-horizontal" method="post" id="delete_file_form">


					<div class="modal-body">

						¿Esta seguro de eliminar el producto?  

					</div>  

					<div class="modal-footer">

						<button data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="confirm-delete-button">Eliminar</button>
						<button data-dismiss="modal" class="btn btn-default" name="in_confirm_insert" id="cancel-delete-button">Cancel</button>

					</div>

				</form>

			</div>
		</div>
	<div>


	<script>
		$(document).ready(function() {
			console.log($('#dominio').val());
		var id;
		var rowSelect;
		var table =  $('#example').DataTable( {
				dom: 'Bfrtip',
                    buttons: [
                        {
                            text: 'Nuevo',
                            action: function ( e, dt, node, config ) {
                                window.location = $('#dominio').val()+'categoria/new';   
                            }
                        }
                    ],

					"language":	{
						"sProcessing":     "Procesando...",
						"sLengthMenu":     "Mostrar _MENU_ registros",
						"sZeroRecords":    "No se encontraron resultados",
						"sEmptyTable":     "Ningún dato disponible en esta tabla",
						"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
						"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
						"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
						"sInfoPostFix":    "",
						"sSearch":         "Buscar:",
						"sUrl":            "",
						"sInfoThousands":  ",",
						"sLoadingRecords": "Cargando...",
						"oPaginate": {
							"sFirst":    "Primero",
							"sLast":     "Último",
							"sNext":     "Siguiente",
							"sPrevious": "Anterior"
						},
						"oAria": {
							"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
							"sSortDescending": ": Activar para ordenar la columna de manera descendente"
						}
					},
					"processing": true,
					"serverSide": true,
				"ajax": { 
						url: $('#dominio').val()+"categoria/data",
				},
				"columnDefs": [
					{
						"targets": [ 0 ],
						"visible": true,
						"searchable": true,
						"ordenable":true,
						"className": 'text-center', 
					},
					{
						"targets": [ 1 ],
						"visible": true,
						"searchable": true,
						"ordenable":true,
						"className": 'text-center', 
					},
					{
						"targets": [ 2 ],
						"visible": false,
						"searchable": false,
						"ordenable":true,
						"className": "text-center",
					},
				],select: {
						style:    'os',
						selector: 'td:first-child'
					},
			} );

			$('#example tbody').on('click', 'td', function () {
			
				var data = table.row($(this).closest('tr')).data();
				if(table.cell( this ).data() =="<i class='fas fa-edit' style='cursor: pointer'></i>"){
					window.location = $('#dominio').val()+'categoria/edit?id=' + data[2];
				}
				if(table.cell( this ).data() =="<i class='fas fa-trash-alt' style='cursor: pointer'></i>"){
				
					$('#delete-file-modal').modal('show');
					id=data[2];	
				}

			});


			$('#delete-file-modal .modal-footer button').on('click', function(event) {
				var $button = $(event.target);
				$(this).closest('.modal').one('hidden.bs.modal', function() { 
					if($button[0].id=="confirm-delete-button"){
						$.when( 
							$.ajax({
								type: "DELETE",
								url: $('#dominio').val()+"categoria/delete",
								data: {"id":id},
							})
						).then(function( data, textStatus, jqXHR ) {
							table.clear().draw();
						});
					}
					
				});
			});
			
			
		} );
		
	</script>
</f:section>