<f:layout name="Default" />

<f:section name="Title"></f:section>
<f:section name="Content">
    <f:form action="create"  style="margin-left: 20px" objectName="newCategoria">
        
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <f:form.textfield property="categoria" class="form-control" maxlength="100"/>
        </div>

        <div class="form-group">
            <label for="categoriaEn">Categoria Ingles</label>
            <f:form.textfield property="categoriaEn" class="form-control" maxlength="100"/>
        </div>

        <div class="form-group" >
            <label for="publicar">Publicar</label>
            <f:form.select property="publicar" name="publicar" class="form-control" options="{0: 'NO', 1: 'SI'}"/>
        </div>
        

        <f:form.submit value="Almacenar" style = "height: 36px; width: 100px;  font-size: 1rem;" class="btn btn-primary"/>
        <f:link.action class="btn btn-success" action="index">Regresar</f:link.action>
    </f:form>
    
</f:section>

