<f:layout name="Default" />

<f:section name="Title">Mostrar Producto</f:section>

<f:section name="Content">
    
    <table>
        <tr>
            <th>Categoria</th>
            <td>{categoria.categoria}</td>
        </tr>
    </table>
    <f:link.action action="index">Regresar</f:link.action>
</f:section>