{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<div class="dsp-flex dsp-col">
        <div class="productos-emp">
          <f:for each="{data.data}" as="item" iteration="iterator1">
            <img src="{f:uri.resource(resource: item.originalResource)}">
          </f:for>
        </div>
        <div class="fls">
          <img src="{f:uri.resource(path: 'Images/fl-05.svg', package: 'evenpro.vincenti')}">
        </div>
        <f:for each="{data.data}" as="item" iteration="iterator1">
            <div class="productos-info">
                <ul>
                        <li><span>● Composition: </span>{item.ComposicionEn}</li>
                        <li><span>● Administration route: </span>{item.viaAdministracionEn}</li>
                        <li><span>● Indications and dosage: </span>{item.indicacionesEn}}</li>
                        <li><span>● Presentation: </span>{item.presentacionEn}</li>
                </ul>
                <div class="categoria">
                    <ul>
                    <li>Division: <span class="prod-etico">{item.divisionEn}</span></li>
                    </ul>
                </div>
            
            </div>
        </f:for>
      </div>