{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<div class="dsp-flex dsp-col">
        <div class="productos-emp">
          <f:for each="{data.data}" as="item" iteration="iterator1">
            <img src="{f:uri.resource(resource: item.originalResource)}">
          </f:for>
        </div>
        <div class="fls">
          <img src="{f:uri.resource(path: 'Images/fl-05.svg', package: 'evenpro.vincenti')}">
        </div>
        <f:for each="{data.data}" as="item" iteration="iterator1">
            <div class="productos-info">
                <ul>
                        <li><span>● Composición: </span>{item.Composicion}</li>
                        <li><span>● Vía de administración: </span>{item.viaAdministracion}</li>
                        <li><span>● Indicaciones y posología: </span>{item.indicaciones}</li>
                        <li><span>● Presentación: </span>{item.presentacion}</li>
                </ul>
                <div class="categoria">
                    <ul>
                    <li>División: <span class="prod-etico">{item.division}</span></li>
                    </ul>
                </div>
                <div class="btn-back">
                    <a href="catalogo.html">Volver</a>
                </div>
            
            </div>
        </f:for>
      </div>


      