/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Desktop First  Method  ==========*/



@media (min-width: 1025px)and (max-width: 1199px){
ul.level2.dropdown-menu:before {
  left  : 50%;
}
ul.level2.dropdown-menu:after {
  left  : 50%;
}
.fa-ul.list-inline.top-info.level-one li{
  font-size: 12px;
}
}
@media (min-width: 992px)and (max-width: 1024px){

ul.level2.dropdown-menu:before {
  left  : 48.5%;
}
ul.level2.dropdown-menu:after {
  left  : 48.5%;
}
.galleri-wrapper img{
    margin-bottom: 25px;
  }
.date-times p::before{
  left  : 70px;
}
.welcome-area .grid figure {
  height  : 290px;
}
.fa-ul.list-inline.top-info.level-one li{
  font-size: 12px;
}
}


@media (min-width : 768px) and (max-width : 991px) {

.fa-ul.list-inline.top-info.level-one li{
  font-size: 12px;
}
.fa-ul.list-inline.top-info.level-one li a{
  padding: 2px 3px 1px 3px; 
}
.fa-ul.level-one li .fa{
  padding: 5px;
}
.fa-ul.list-inline.top-info.level-one li{
  letter-spacing: 0px;
}
.fa-ul.list-inline.top-info.level-one li a i::before{
  font-size: 11px;
}
.megamenu-wrapper {
    width : 100%;
    }
.navbar-default .navbar-toggle {
  display   : none !important;
}
ul.nav.navbar-nav li a {
  font-size     : 13px;
  letter-spacing: 1px;
  padding       : 0px 10px;
}
ul.level2.dropdown-menu:before {
  left  : 44%;
}
ul.level2.dropdown-menu:after {
  left  : 44%;
}
.dropdown-menu{
	width  : 100%;
}
li.dropdown > .submenu-wrapper{
	left   : 0;
}
.dropdown-menu .mega-content ul li a {
  text-transform  : capitalize;
  line-height     : 14px;
  font-size       : 10.5px !important;
  padding         : 0 !important;
}
.welcome-area .col-xs-12.col-md-4 {
  margin-top      : 0;
  margin-bottom   : 45px;
}
.welcome-note.text-center {
  padding         : 45px; 
}
.galleri-wrapper img{
  margin-bottom   : 20px;
  }
.event-media .media-body h3{
  font-size     : 11px;
  padding-bottom: 10px;
}
.event-media .month-of-event span{
  font-size     : 11px;
  letter-spacing: 1.5px;
}
.event-media img{
  width     : 70px;
}
.event-media .date-of-event{
  font-size   : 35px;
}
footer img{
  display   : inline;
}
footer .footer-top .heading{
margin-top  : 50px;
}
.food-menu-wrapper h2.item-name.responsive{
  margin-top  : 50px;
}
.date-times p::before{
  left  : 85px;
}
.welcome-area .grid figure {
  height  : 263px;
}
}

@media only screen and (min-width : 480px) and (max-width : 767px) {

.logo a img {
    width   : 70% !important;
    height: auto !important;
    padding-top: 0 !important;
}
.navbar-fixed-top {
  position  : static !important;
    padding : 5px 0;
}
.top-social.level-0 li.location { 
  margin-right: 10px;
}
.mainnav {
    margin-top    : 0px;
    margin-bottom : 0px;
}
.popup-wrapper{
  padding   : 20px 35px;
}
.popup-wrapper .heading-top{
  margin-top    : 0;
  margin-bottom : 12px;
}
.popup-wrapper .container{
  display   : none;
}
.welcome-area .col-xs-12.col-md-4 {
  margin-top    : 0;
  margin-bottom : 45px;
}
.take-look-wrapper{
  padding: 75px 0;
}
.services .nav-tabs li a {
    font-size: 10px; 
    padding: 5px 8px;
}
.banner-wrapper{
 padding: 50px 0; 
}
.welcome-note.text-center {
  padding   : 45px; 
}
.first-column{
  margin-bottom   : 45px;
}
.book-table-wrapper .booking-image img{
    display       : none;
  }
.book-now-wrapper{
    display     : none;
  }
.story-wrapper{
    padding-bottom  : 40px;
    }
.reservation-top-section h1{
  margin-top  : 30px;
  }
.reservation-bottom-section .heading{
    margin-top : 60px;
  }
.book-table-wrapper .booking-form h1{
  font-size   : 35px;
  }
.date-icon{
  visibility  : hidden;
}
.contact-wrapper .address-wrapper h3{
  margin-top  : 50px;
    }
.contact-wrapper .address-wrapper .middle,
.contact-wrapper .address-wrapper .right{
  text-align  : left;
}
footer .footer-top .heading,
#custom-search-input{
  margin-top  : 50px;
}
.footer-title{
  padding   : 35px 0 15px 0;
}
.event-wrapper .event-holder .wide{
  margin: 30px 0;
}
.food-menu-wrapper h2.item-name.responsive{
  margin-top        : 50px;
}
.event-wrapper .event-holder.gap{
  margin-top: -30px;
}
.testimonial-wrapper .carousel-inner .item p::before{
   left: 46.5%;
}
.event-wrapper .event-holder .img-holder{
  max-height: 350px;
  overflow: hidden;
}
.reservation-top-section h2.text-left{
  padding-top: 30px;
}
.event-wrapper .join-event .content-holder{
  padding: 10px 20px 15px 20px;
}

.overlay{
  left:45.5%;
}

.galleri-wrapper figure.effect-cheff figcaption::before,
.galleri-wrapper figure.effect-cheff .fa {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.galleri-wrapper figure.effect-cheff h2 {
    margin-top: 6%;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background-color: transparent;
}
.galleri-wrapper figure.effect-cheff figcaption::before,
.galleri-wrapper figure.effect-cheff p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.galleri-wrapper figure.effect-cheff figcaption {
  background-color: rgba(58,52,42,0);
}

}

/*Mobile */
@media only screen and (min-width : 320px) and (max-width : 479px) {

.logo a img {
    width   : 57% !important;
    height: auto !important;
    padding-top: 0 !important;
}
.navbar-fixed-top {
  position  : static !important;
  padding   : 5px 0;
}
.fa-ul.list-inline.top-info.level-0 li {
  font-size : 8px;
}
.top-social.level-0 li.location {
  background-color  : #b98c49;
  padding           : 2px 5px;
  letter-spacing    : 1px;
  font-size         : 10px;
  line-height       : 20px;
  color             : #feedd2;
  border            : 1px solid #d3a45e;
  margin-right      : 0px;
}
.top-social.level-0 li.flag-area {
  background-color  : #b98c49;
  padding           : 0px 10px;
  }
.top-social.level-0 li .fa-map-marker {
  font-size         : 10px;
  padding-right     : 5px;
}
.mainnav {
    margin-top      : 0px;
    margin-bottom   : 0px;
}
.welcome-area .col-xs-12.col-md-4 {
  margin-top        : 0;
  margin-bottom     : 45px;
}
.popup-wrapper{
  padding           : 20px 35px;
}
.popup-wrapper .heading-top{
  margin-top        : 0;
}
.popup-wrapper .container{
  display           : none;
}
.take-look-wrapper{
  padding: 75px 0;
}
.banner-wrapper{
 padding: 50px 0; 
}
.welcome-note.text-center {
  padding           : 45px; 
}
.first-column{
  margin-bottom     : 45px;
}
.date-times p:before {
  left              : 24%;
}
.book-table-wrapper .booking-image img{
    display         : none;
  } 
.book-now-wrapper{
    display         : none;
  }
.welcome-area figure.effect-cheff figcaption::before, 
.welcome-area figure.effect-cheff p{
  font-size         : 12px;
  }

.services .nav-tabs li a {
    font-size: 9px; 
    margin: 0;
    margin-right: 1px;
    padding: 5px 3px;
  }
  .services .nav-tabs li a i {
    font-size: 15px;
  }
.about-brief-wrapper .contents{
      padding       : 20px;
    }
.about-brief-wrapper h2{
      font-size     : 30px;
    }
.about-brief-wrapper .contents p{
      font-size     : 14px;
      line-height   : 22px;
    }
.about-brief-wrapper .btn{
      padding       : 12px;
      font-size     : 16px;
    }
.story-wrapper .contents{    
    padding         : 40px 0 50px;
    }
.story-wrapper{
    padding-bottom  : 40px;
    }

.reservation-top-section h1{
  margin-top        : 30px;
  }
.reservation-bottom-section .heading{
    margin-top      : 60px;
  }
.book-table-wrapper .booking-form h1{
  font-size         : 35px;
  }
.date-icon{
  visibility        : hidden;
}
.contact-wrapper .address-wrapper h3{
  margin-top        : 50px;
}
.contact-wrapper .address-wrapper .middle,
.contact-wrapper .address-wrapper .right{
  text-align        : left;
}

.galleri-wrapper figure.effect-cheff figcaption {
    padding: 1em;
}
footer .footer-top .heading,
#custom-search-input{
  margin-top        : 50px;
}
.food-menu-wrapper h2.item-name.responsive{
  margin-top        : 50px;
}
.footer-title{
  padding           : 35px 0 15px 0;
}
.event-wrapper .event-holder .wide{
  margin: 30px 0;
}
.event-wrapper .event-holder.gap{
  margin-top: -30px;
}
.testimonial-wrapper .carousel-inner .item p::before{
   left: 44.5%;
}
.event-wrapper .event-holder .img-holder{
  max-height: 350px;
  overflow: hidden;
}
.reservation-top-section h2.text-left{
  padding-top: 30px;
}
.event-wrapper .join-event .content-holder{
  padding: 10px 20px 15px 20px;
}
 /*Gallery Page*/
 .gallery-trigger ul li a {
    padding: 5px 8px;
  }
.food-menu-wrapper .gallery-trigger ul li {
    margin-bottom: 15px;
  }

.overlay{
  left:45.5%;
}

.galleri-wrapper figure.effect-cheff figcaption::before,
.galleri-wrapper figure.effect-cheff .fa {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.galleri-wrapper figure.effect-cheff h2 {
    margin-top: 6%;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background-color: transparent;
}
.galleri-wrapper figure.effect-cheff figcaption::before,
.galleri-wrapper figure.effect-cheff p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.galleri-wrapper figure.effect-cheff figcaption {
  background-color: rgba(58,52,42,0);
}

}
