/*-----ESTILOS GENERALES-----*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');

*{
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    color: #545454;
}

/*@font-face {
font-family: brandon-black;
src: url(../fonts/brandon-grotesque-black.woff);
}

*{
	padding: 0;
	margin: 0;
	font-family: 'brandon-black';
	box-sizing: border-box;
	color: #6a6a6a;
}*/



body{
	width: 100%;
}

.gral-content{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}

ul,ol{
	list-style: none;
}

.bg-white {
    background-color: #fff;
    position: relative;
}

.dsp-flex, .dsp-2col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

span.registered {
    font-size: 13px;
}

.brdr-dn{
	border-bottom: 1px solid #6a6a6a;
	margin: 10px 0;
}

.mrg-bot{
    margin: 30px;
}

h2 {
    text-align: center;
    font-size: 30px !important;
    color: #fff;
    /*padding: 30px 0;*/
    text-transform: uppercase;
    font-weight: 900 !important; 
}

h3 {
    font-size: 50px !important;
    color: #fff !important;
    text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}

h4 {
    font-size: 30px;
}

h5 {
    color: #858585;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

h6 {
    font-size: 25px;
    margin: 10px 0;
}

p {
        font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    font-weight: 300;
}

.ttl-blue {
    color: #02116c;
    font-weight: 800 !important;
    font-family: titillium-web, sans-serif;
}

.ttl-centr{
    text-align: center;
    margin: 30px 0;
}

.ttl-news-ext{
    font-size: 22px;
    margin: 10px 5px;
}

.txt-white{
	color: #fff;
}

.txt-blu {
    color: #003386 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: titillium-web, sans-serif !important;
    font-weight: bolder;
}

/*.txt-light-blue{
    color: #2249b6 !important;
}*/

/*.txt-green {
    color: #3baf2a !important;
}*/

/*.txt-light-yellow{
    color: #00ff21 !important;
}*/

/*.txt-violet{
    color: #da0ab9 !important;
}*/

/*.txt-yellow{
    color: #f9f300 !important;
}*/

/*.txt-green-light{
    color: #15dc13 !important;
}*/

/*.txt-turkey{
    color: #16aab3 !important;
}*/

.txt-dark-grey {
    color: #3e3e3e !important;
}

.ttl-left{
	text-align: left;
}

.txt-left {
    width: 100% !important;
    text-align: left;
}

.txt-left>h3>span {
    text-transform: uppercase;
    color: #aaff65;
    text-shadow: none;
    font-weight: 700;
}

.txt-shad-blue{
    text-shadow: -1px -1px 0px #2a2a5c;
}

.txt-shad-white{
    text-shadow: -1px -1px 0px #fff;
}

.txt-shad-black{
    text-shadow: -1px -1px 0px #000;
}

.txt-int-pg{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.txt-up{
    position: relative;
    top: -100px;
}

.prod-info>h2{
        font-family: 'roboto', sans serif;
}

.txt-big-bold-ttl {
    font-size: 50px !important;
    font-weight: 800;
}

.txt-mid-light-ttl {
    font-size: 32px !important;
    font-weight: 300;
    color: #16aab3;
}

.txt-mid-reg-ttl {
    color: #16aab3;
    font-size: 33px !important;
    font-weight: 700;
}


.mrg60{
    margin: 60px 0 0 0;
}

.ttl-border{

}

.ttl-vitrina-int {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
}

.proposito>div.gral-content>p {
    width: 30%;
    position: absolute;
    margin: 30px;
    font-size: 20px;
    font-weight: 300;

}

.prop-sum{
    max-width: 465px;
}

#about-vid>div.gral-content>p{
    width: 80%;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
}

.ln-md{
    border:1px solid #000;
}

.prod-info {
    text-align: right;
}

.prod-info>img {
    width: 250px !important;
}

.frases {
    width: 100%;
    position: absolute;
    left: 10%;
    max-width: 1024px;
    display: none;
}

.frases>img {
    width: 450px;
}

.orla-ttl>img{
    position: relative;
    width: 820px;
    text-align: center;
    margin: 0 auto;
    left: calc(50% - 393px);
    top: 62px;
}

.fl-ab-rsp{
    display: none;
}



/*-----ESTILOS MENU SECUNDARIO-----*/

.menu-sec-content{
	width: 100%;
	height: 50px;
	display: flex;
    align-items: center;
}

.menu-sec{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}

.menu-sec>ul {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.menu-sec>ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    margin: 0 !important;
}

.menu-sec>ul>li{
	list-style: none;
	padding: 0 15px;
}

.menu-sec>ul>li>a{
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
	font-size: 14px;
}

.menu-sec>ul>li>a:hover{
	color: #31ce43;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}

.top-bar > div > div {
    padding: 0 !important;
}

ul.sub-hov {
    top: 140px !important;
}

.row{
    align-items: center;
}

.language-menu > ul {
    min-width: 100px;
}

/*-----MENU PRINCIPAL-----*/

.menu-p {
    width: 100%;
    background-color: #fff;
}

.menu-p>div{
	width: 100%;
	display: flex;
	padding: 10px 0;
	align-items: center;
	justify-content: space-between;
}

.menu-p>div>ul {
    display: flex;
    list-style: none;
}

.menu-p>div>ul>li {
	padding: 0 10px;
}

.menu-p>div>ul>li>a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #0a1a71;
    cursor: pointer;
}

.menu-p>div>ul>li>a:hover, .submenu>a:hover{
	color: #31ce43;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;	
}

.search>a{
	color: #31ce43;
}

.search>a:hover{
	color: #0a1a71;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}

.language>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.language>ul>li{
	padding: 0 5px;
}

.language>ul>li>a>img{
	width: 30px;
}

.language>ul>li>a:hover{
	opacity: 0.5;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;	
}

/*-----SUBNEMUS-----*/

li.submenu>ul {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.75);
    top: 100px;
    text-align: left;
    z-index: 1;
}

li.submenu>ul>li {
    list-style: none;
    padding: 10px;
    width: 150px;
}

li.submenu>ul>li>a {
    text-decoration: none;
    color: #858585;
}

li.submenu>a>span {
    padding: 0 0 0 5px;
}


/*-----MENU PRUEBA 2-----*/

header {
    height: 70px;
    background-color: #2a2a5c;
    transition: 0.5s;
    padding: 10px;
    display: none;
}

.header3{
	display: block;
    background-color: #fff;
    transition: 0.5s;
    padding: 15px 10px;
}

.header2 {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    transition: 0.5s;
    background-color: rgba(2, 17, 108, 0.85);
    border-bottom: 5px solid rgb(110, 173, 59);
    /*background-color: rgba(216, 162, 183, 0.85);*/
    margin: 0;
}

.mn-gral {
    padding: 20px 0;
    background-color: #fff;
}

.menu-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-content>label{
	font-size: 30px;
	cursor: pointer;
	display: none;
}

#btn-menu{
	display: none;
}

.menu>ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.btn-mn{
	color: #fff !important;
}

.submenu2>ul {
    display: none;
    position: absolute;
    background-color: rgba(60, 174, 42, 0.85);
    top: 134px;
    z-index: 1;
    padding: 10px;
    width: 220px;
    border-radius: 0 0 5px 5px;
}

.submenu2>ul>li {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    height: 36px;
}

.submenu2>ul>li:nth-last-child(1) {
    border-bottom: none;
}

.submenu2>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.submn2 {
    top: 88px !important;
}

.menu>ul>li>a {
    display: block;
    text-decoration: none;
    color: #2a2a5c;
    font-size: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
}

.menu>ul>li>a:hover {
    color: #3cae2a !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.menu>ul>li>a>span {
    margin-left: 5px;
}

.menu>ul>li:hover>ul{
	display: block;
	position: absolute;
	z-index: 1;
}

li.submenu2>a {
    padding: 0 10px;
}

ul.sub-hov {
    width: 240px;
}

.sub-hov>li{
	width: 220px;
	height: 80px;
}

.sub-hov>li>ul {
    display: none;
    position: absolute;
    top: 0px !important;
    left: 220px;
    background-color: rgba(253, 253, 253, 0.85);
    padding: 14px 20px;
    border-radius: 0 5px 5px 0;
    width: 300px;
}

.sub-hov2>li {
    margin: 5px 0;
}

ul.sub-hov2>li>a {
    color: #46a92e;
    text-decoration: none;
}

.sub-hov2>li>a:hover {
    color: #2a2a5c;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

ul.sub-hov>li:hover>ul {
    display: block;
}

nav.menu-ppal {
    width: 100%;
}

nav.menu-ppal>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav.menu-ppal>ul>li>a {
    color: #061f6e;
    font-size: 18px;
    font-weight: 700;
}

nav.menu-ppal>ul>li>a:hover {
    text-decoration: none;
    color: #6ead3b;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

nav.menu2>div.top-bar {
    background-color: #fff;
    display: none;
}
nav.menu2{
        position: fixed;
        z-index: 9999;
}

nav.menu2>div.mn-gral {
    background-color: rgba(251, 251, 251, 0.75);
    padding: 20px 0;
    border-bottom: 4px solid #6ead3b;
}

#mn-hamb{
    display: none;
}

.mn-ham-rsp{
    top: 40px !important;
}

.logo-rsp{
        display: none;
    }


.logo-p, .logo-rsp {
    width: 25%;
}

.logo-p>a>img{
    width: 100%;
}

.logo-p3>a>img {
    width: 141px;
}

.logo-p2, .logo-p4{
	display: none;
}

.logo-p3 {
    display: block;
    width: 25%;
    margin: 0 0 0 15px;
}

.logo-p5 {
    width: 100%;
    text-align: center;
}

.logo-p5>a>img{
	max-width: 190px;
}

nav.menu {
    width: 100%;
}

.search {
    width: 5%;
    text-align: center;
}

.language {
    width: 10%;
}

.top-bar{
    width: 100%;
    background-color: #061f6e;
    margin: 0 auto;
}

.top-bar>div {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.language-menu:hover ul {
    right: 0;
    top: 30px;
}

.language-menu {
    float: none !important;
    margin: 0;
    line-height: 0 !important;
    display: flex;
    width: 160px;
    padding: 15px 10px;
    margin-top: 0 !important;
}

.language-menu:hover ul {
    right: 0;
    top: 50px;
}

.language-menu>div {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.language-menu>div>div>span{
    color: #fff;
}

/*-----SLIDER-----*/

.slideshow {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 0;
    top: 100px;
    max-height: 700px;
    display: flex;
    align-items: center;
}

.slider>li {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slider>li:nth-child(1) {
    /*background-image: url(../img/slide1.jpg);*/
}

.slider>li:nth-child(2) {
    /*background-image: url(../img/img35.jpg);*/
}

.slider>li:nth-child(3) {
    /*background-image: url(../img/laboratorio.jpg);*/
}

.slider>li:nth-child(4) {
    /*background-image: url(../img/img23.jpg);*/
}

.slider>li:nth-child(5) {
    /*background-image: url(../img/img39.jpg);*/
}

/*.slider>li:nth-child(5) {
    background-image: url(../img/img34.jpg);*/
}*/



.caption {
    height: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /* flex-direction: column; */
    padding: 0px 100px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*.caption>div:nth-child(1){
    width: 60%;
}

.caption>div:nth-child(2){
    width: 30%;
    position: absolute;
    right: 65px;
}*/

.prod-info {
    text-align: right;
}

 section.caption>div {
    width: 100%;
}

.caption>div>h2 {
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #444444;
    color: #FFF;
}

.caption>div>p{
	color: #fff;
	font-size: 20px;
	text-align: left;
	/*text-shadow: 0 0 15px #000;*/
	text-transform: uppercase;
    font-weight: bold;
}

.slider ul, .slider li{
	width: 100%;
}

.slider li img{
	width: 100%;
}

.left, .right {
    position: absolute;
    height: 550px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 40px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    top: 140px;
}

.left{
	left: 15px;
}


.right{
	right: 15px;
}

.right>span:hover, .left>span:hover {
    color: #fff;
}

.pagination{
	display: none;
}

.img-prod {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-prod>img {
    width: 15% !important;
    position: absolute;
    right: 60px;
}

video{
    width: 100%;
    min-width: 1024px;
}


/*-----MODULO BUSCADOR-----*/

.bg-buscador, .bg-anaquel {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0;
    margin: 30px 0;
}

.bg-buscador{
background-image: url(../img/mapa-caracas2.png);
}

.bg-anaquel{
    background-image: url(../img/anaquel.jpg);
}

.img-pers{
	width: 50%;
}

.img-pers:nth-child(1) {
    text-align: center;
}

.img-pers:nth-child(2) {
    padding-right: 20px;
    background-color: rgba(253,253,253,0.75);
    padding: 10px;
    border-radius: 10px;
}

.img-pers>img {
    width: 50%;
    position: relative;
    top: 5px;
    min-width: 250px;
}

.btn-buscar{
	margin: 20px 0 10px 0;
}

.btn-buscar>input {
    width: 30%;
    border: none;
    background-color: #3baf2a;
    padding: 5px;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    border-radius: 5px;
}

.btn-buscar>input:hover{
	background-color: #0a1a72;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -moz-transition: 0.5s;
}

.farmacias {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.farmacias>div>img {
    width: 120px;
}

.video-ppal {
    width: 100%;
    height: 100%;
    max-height: 650px;
    overflow: hidden;
    /* position: fixed; Comentado por Juan */
    top: 0;
    z-index: -1;
}


/*-----ACERCA DE*-----*/

div#about {
    background-color: #02116c;
}


/*-----PRODUCTOS-----*/


figure.imghvr-push-up {
    margin: 20px;
    cursor: pointer;
    margin: 20px 0;
    height: 200px;
    background-color: rgb(255,255,255) !important;
    border-radius: 15px 0;
    border-style: solid;
    border-width: thin;
    -webkit-box-shadow: 10px 10px 19px -4px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 19px -4px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 19px -4px rgba(0,0,0,0.10);
}

figure.imghvr-push-up>h5 {
    display: none;
}

figure.imghvr-push-up:hover {
    border-radius: 0 50px;
}

.text-hover{
	display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text-hover>p{
	font-size: 15px;
	color: #fff;
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
    background-color: #3baf2a !important;
}

[class*=" imghvr-"], [class^=imghvr-] {
    background-color: transparent !important;
}

.productos-resp{
    display: none;
}

.product-content{
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----LINEA DE TIEMPO-----*/

.timeline-rsp{
	display: none;
}


/*-----BANNER-----*/

.publicidad {
    width: 100%;
    text-align: center;
    margin: 40px 15px 40px 0;
}

.publicidad>a>img, .publicidad2>a>img {
    width: 100%;
    max-width: 1280px;
}

.publicidad>a>img, .publicidad2>a>img {
    width: 100%;
}

/*.publicidad2{
    display: none;
}*/

/*-----Timeline Twitter-----*/

.timeline-Widget {
    max-width: 1200px !important;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.timeline-NewTweetsNotification {
    display: none;
    border-bottom: none;
    opacity: 0;
}

.timeline-Viewport {
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

ol.timeline-TweetList {
    display: flex;
    width: 90%;
    max-width: 1280px;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0 auto;
}

.timeline-TweetList-tweet:first-of-type {
    border-top: none;
    /* width: 25%; */
    text-align: center !important;
}

li.timeline-TweetList-tweet {
    width: 25%;
}

.timeline-Tweet {
    cursor: pointer;
    padding: 10px;
    width: 90%;
}

 .SandboxRoot.env-bp-970 .timeline-Tweet-text {
    margin-left: 0;
}

div#productos {
    background-color: #efefef;
    margin-top: 60px;
}



/*-----FOOTER-----*/


.footer{
	background-color: #525252;
}

.footer-content {
    padding: 30px 30px 60px 30px;
}

.logo-footer{
	width: 25%;
}

.logo-footer>a>img{
	width: 70%;
	min-width: 160px;
}

.footer-col {
    width: 50%;
}

.footer-col>div>ul {
    width: 100%;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-col > div > ul:nth-child(2) {
    display: none;
}

.footer-col>div>ul>li {
    margin: 5px 0;
}

.footer-col>div>ul>li>a {
    text-decoration: none;
    font-size: 16px;
    color: #929292;
}

.footer-col>div>ul>li>a:hover {
    color: #fff;
    transition: 0.5s;
}

.footer-col>div.dsp-flex>ul:nth-child(2)>li:nth-child(1) {
    display: none;
}

.rrss {
    width: 20%;
}

.rrss>div {
    width: 100%;
}

.rrss>div>a {
    width: 35px;
    margin: 10px;
}

.rrss>div>a:hover{
	opacity: 0.75;
	transition: 0.5s;
}

.social-media-header {
    /* width: 100%; */
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 200px;
    z-index: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

div#bg-gral {
    background-color: #fff;
    width: 100%;
}

.social-media-header>a {
    background-color: #2a2a5c;
    width: 40px;
    margin: 5px 0;
    border-radius: 5px 0 0 5px;
    opacity: 0.75;
}

.social-media-header>a:hover {
    opacity: 1;
    transition: 0.5s;
}

.social-none{
    display: none;
    transition: 1s;
    -webkit-transition: 1s;
}

/*-----desplegable categorias-----*/

.form-group>label {
    display: none;
}

.form-control {
    background-color: #061f6e;
    border-radius: 25px;
    color: #fff;
}

.card {
    width: 17rem !important;
    text-decoration: none;
    /* margin: 20px; */
    text-align: center;
    /* padding: 5px; */
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.15);
    border-radius: 20px 0;
}

/*-----NOTICIAS-----*/

.news-content {
    width: 22%;
    margin: 0 10px 30px !important;
    text-align: center;
    border-radius: 0px 30px;
    cursor: pointer;
}

.news-content>div>img{
	width: 100%;
}

[class*=" imghvr-shutter-in-"]:after, [class*=" imghvr-shutter-in-"]:before, [class^=imghvr-shutter-in-]:after, [class^=imghvr-shutter-in-]:before{
	background: #02116c !important;
}

/*-----CONTACTO-----*/

  ul.tabs{
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  ul.tabs>li {
    margin: 10px 15px;
  }

  ul.tabs>li>a {
    padding: 5px 30px;
    color: #2a2a5c;
    text-decoration: none;
    background-color: #e5e5e5;
    font-weight: 600;
    border-radius: 5px;
    hyphens: none;
    min-width: 210px;
    display: block;
  }

  ul.tabs>li>a:hover {
    background-color: #6ead3b;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }

  .active {
    background-color: #161e66 !important;
    
    color: #fff !important;
  }

  .form-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form{
    width: 40%;
    margin: 30px auto;
    text-align: center;
    max-width: 450px;
  }

  .secciones>article>h6, .secciones>article>p{
    text-align: center;
  }

  .secciones>article>p{
    width: 60%;
    margin: 0 auto;
  }

  input, textarea{
    width: 100%;
    border: solid 3px #f2f2f2;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
  }

  input.form-control {
    margin: 10px 0;
    }

  #boton-env-form{
    width: 200px;
    text-align: center;
    border: none;
    background-color: #6ead3b;
    color: #fff;
    font-weight: bolder;
  }

  .map-content{
    margin: 30px 0 0 0;
  }

  .contact-ic{
    width: 45%;
    margin: 20px;
    text-align: center;
  }

  .contact-ic>img{
    width: 100px;
    margin: 30px;
  }

  .contact-ic>p{
    margin: 30px 0 60px 0;
  }

  .contact-content{
    display: flex;
    justify-content: space-between;
  }



/*-----RESPONSIVE-----*/

@media (max-width: 920px){
    .menu-sec > ul {
    width: 100%;
    }

}

@media (max-width: 860px){

/*Slider*/

	/*.slider>li{
		height: 285px;
	}
    */

	.farmacias>div {
    width: 30%;
	}

	.farmacias>div>img {
    width: 100%;
    min-width: 100px;
	}

/*menu*/

	.menu-sec>ul>li>a{
		font-weight: 500;
	}



	i.fas.fa-bars {
    color: #fff;
	}

	.header3{
		display: none;
	}

	header{
		display: block;
	}
	.menu-content>label{
		display: block;
	}

	.menu{
		position: absolute;
        top: 0px;
        left: 0;
        z-index: 2;
        width: 50%;
        /*transform: translateX(-100%);*/
        transition: all 0.3s;
        background-color: rgba(0,0,0,0.6);
	}

	.menu>ul{
		flex-direction: column;
		opacity: 0.8;
	}

	.menu>ul>li:hover>ul{
		display: none;
		position: static;
	}

	.submenu2>a>span{
		position: absolute;
		right: 10px;
	}

	.submenu2>ul{
		position: relative;
		width: 100%;
		height: auto;
		border-radius: 0;

	}

	#btn-menu:checked ~ .menu{
		transform: translateX(0%);
	}

	.menu>ul>li>a{
		height: 50px;	
		border-bottom: 1px solid #6a6a6a;
	}

	.language {
    width: 15%;
	}

    .language-menu ul li .language-menu-full{
        display: block;
    }

	.search {
    width: 10%;
	}

    .logo-p, .logo-p2{
        display: none;
    }

    .logo-rsp{
        display: flex;
    }

    .menu-ppal{
        display: none;
    }

    .logo-rsp {
    display: flex;
    width: 100%; 
    justify-content: center;
    margin: 0 auto;
    padding: 0 0 10px 0;
    }

    .logo-rsp > a {
    width: 40%;
    } 

    .logo-rsp>a>img{
        width: 100%;
        min-height: 60px;
        min-width: 190px;
    }

    /*Menu*/

    #mn-hamb{
        display: block;
    }

    .menu-ppal > ul {
    flex-direction: column;
    }

    #mn-hamb {
    display: block;
    position: absolute;
    top: 100px;
    left: 20px;
    cursor: pointer;
    }

    i.fas.fa-bars {
    color: #061f6e;
    font-size: 25px;
    }

    .submenu2 > ul{
        top: 0;
    }

}


@media (max-width: 768px){

/*Slider*/

	.slider>li {
        background-size: cover;
        background-attachment: unset;
        background-position: center;
    }

	.img-prod>img{
		min-width: 120px;
	}

/*backgrounds parallax*/
	
	#intro, #second{
		background-position: center !important;
    	background-attachment: scroll !important;
	}

	h3{
		font-size: 30px;
		padding: 0 20px;
	}

    .caption>div>h2{
        text-align: center;
    }

    .caption>div>p{
        display: none;
    }

    .caption>div:nth-child(1) {
    width: 100%;
    }

    .txt-about {
    text-align: center
    }

    .prod-info>img{
        display: none;
    }

    .img2col{
        display: none;
    }

    .dsp-2col{
        display: block;
    }

    .swiper-container{
        display:block;
    }

    .productos-resp {
    text-align: center;
    margin: 30px;
    }

    .productos-resp>a>img{
    width: 80%;
    }

    .proposito>div.gral-content>p {
    width: 80%;
    position: relative;
    margin: 30px auto;
    text-align: center;

    }

    .publicidad>a>img, .publicidad2>a>img {
    width: 100%;
    }

    .language-menu div{
        margin: 0 !important;
        background-color: transparent !important;
        border: none !important;
    }

    .language-menu > div > div {
    overflow: hidden;
    }

    .language-menu ul{
        min-height: 40px;
    }

    .language-menu ul li .language-menu-full {
    display: block !important;
    }

    .swiper-container.swiper-container-horizontal {
    display: none;
  }

  .productos-resp{
    display: block;
  }

  .productos-resp > a {
    width: 80% !important;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .orla-ttl{
    display: none;
  }

}

@media (max-width: 680px){

    /*Slider*/
    .slider {
        top: 50px;
    }

    section.caption{
        width: 90%;
    }

    .prod-info > h2,.prod-info > h2 > span  {
    font-size: 25px !important;
    hyphens: none;
    }



/*buscador de productos*/
	.flex-rsp {
    /* flex-direction: column; */
    text-align: center;
    flex-wrap: wrap;
    }

	.img-pers:nth-child(2) {
    padding-right: 0px;
    width: 80%;
    margin: 0 0 20px 0;
	}

/*Nosotros*/
.ttl-orla > div:nth-child(1), 
.ttl-orla > div:nth-child(3){
    display: none;
}

.ttl-orla > div {
    width: 100%;
}

/*Linea de tiempo*/

	.timeline{
		display: none;
	}

	.timeline-rsp {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
	}

	.timeline-rsp>div>h6 {
    color: #fff;
    font-size: 35px;
    margin: 0;
	}

	.timeline-rsp>div>img {
    width: 50%;
    min-width: 150px;
	}

	.timeline-rsp>div>p{
	color: #fff;
	}

	.fl-dn{
	margin: 10px 0;
	text-align: center;
	}

	.fl-dn>img {
    width: 60px !important;
    min-width: 60px !important;
	}

	.timeline-rsp{
	display: block;
	}

	.timeline-rsp:nth-last-child(1) {
    margin-bottom: 40px;
	}

    section.caption {
    width: 80%;
    margin: 0 auto;
    }

/*Banner*/

.story{
    justify-content: flex-start !important;
}

.story>div{
    width: 30% !important;
}

.story>div>h3{
    font-size: 30px !important;
}

/*Noticias*/

	.news-content {
    width: 45%;
    }

/*Footer*/

	.logo-footer {
	    width: 50%;
	}

	.footer-col {
	    display: none;
	}

	.rrss {
    width: 40%;
	}

    .prop-content>ul, .prop-content>ul>li{
        flex-direction: column;
        text-align: center;
    }

    .frases>img {
    width: 80%;
    }

    .dsp-col{
    flex-direction: column;
    }

    .productos-emp {
    width: 100% !important;
    text-align: center;
    margin: 0 0 30px 0;
    }

    .fls{
        display: none;
    }

    .volver{
        text-align: center !important;
    }

    .productos-info {
    width: 90% !important;
    }

  .prod-content>a{
    width: 100%;
    }

    .pro-card {
        width: 80% !important;
        margin: 0 auto;
    }

}

@media (max-width: 580px){

/*Slider*/
	.img-prod>img{
		display: none;
	}

/*Menu*/
	.language {
	    width: 25%;
	}

/*proposito*/

    .fl-dr-rsp{
        display: none;
    }

    .fl-ab-rsp{
        display: block;
    }

    li.fl-ab-rsp>img {
    width: 40px !important;
    margin: 20px 0;
    }

    .prop-content>div>ul{
        flex-direction: column;
    }

    /*.publicidad {
        display: none;
    }*/

    .publicidad2{
        display: block;
    }  

    .menu-sec>ul>li:nth-child(2){
        display: none;
    } 

    .second-mn {
    width: 80% !important;
    }

    .ln-mn-content {
        width: 20% !important;
    }

    .language-menu{
        justify-content: center;
    }

    

    .language-menu{
        width: 100%;
    }

    .menu-sec > ul{
        justify-content: space-around;
    }

    .prod-rsp {
    width: 74% !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.prod-rsp > a {
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin: 20px auto;
}



}

@media (max-width: 480px){
    form{
        width: 80%;
    }

    input, textarea{
        width: 100%;
    }

    .contact-content{
        flex-direction: column;
    }

    .caption{
        padding: 0 20px;
    }

    .caption>div>h2{
        font-size: 35px;
    }

    .social-media-header{
        display: none;
    }

}

@media (max-width: 480px){
   .news-content {
    width: 100%;
    } 
}

.rif-vertical {
    color: white;
    -webkit-transform: rotate(-90deg);
    position: absolute;
    left: 95%;
    margin-top: -2%;
    width: 113px;
    display: none;
}