/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */


.float-left, .float-right{
	width: 50%
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#header, #intro, #second{
	width: 100%;
}

.row-list{
  display: block !important;
}

.dsp-col {
    width: 100%;
    max-width: 1024px;
    margin: 20px auto;
}

#intro, #second  {
    color: white;
    height: 290px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover !important;
    background-attachment: fixed;
    overflow: hidden;
}

#second{
	background: url(../img/bienestar2.jpg) 50% 0 no-repeat fixed;
}

#second .bg{
	background: url(../images/img33.jpg) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}

#third{
	background: url(../images/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;	
}

#fifth{
	background: #ccc;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.story {
    margin: 0 auto;
    min-width: 980px;
    overflow: auto;
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section#food-menu {
    min-height: 800px;
}

/*-----ESTILOS PAGINAS INTERNAS-----*/

.ln-content{
  border-bottom: 1px solid;
  margin: 30px 0;
}

.vitrina-int{
	width: 100%;
	height: 290px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

.slide-somos{
  background-image: url(../img/vitrina-somos.jpg);
}

.slide-producto{
  background-image: url(../img/vitrina-productos.jpg);
}

.slide-noticias{
  background-image: url(../img/vitrina-noticias.jpg); 
}

.slide-contacto{
  background-image: url(../img/vitrina-contacto.jpg); 
}

.slide-politicas{
  background-image: url(../img/vitrina-politicas.jpg); 
}

.img-vitr {
    width: 190px;
}

.img-vitr>img {
    width: 170px;
}

.txt-vtr{
	font-size: 60px;
	font-weight: 600;
}

.txt-about {
    width: 100%;
    margin: 20px 0;
}

.txt-about>h4 {
    font-weight: 800;
}

.txt-about>p{
	font-size: 20px;
  margin: 0 0 15px 0;
}

.txt-about>a {
    text-decoration: none;
    /*background-color: #6ead3b;*/
    background-color: #2a2a5c;
    padding: 5px 60px;
    color: #fff;
    font-weight: 600;
    border-radius: 0 10px;
}

.vincenti-name-txt{
  font-weight: bolder;
}

.ttl-orla {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px auto;
}

.ttl-orla>div {
    width: 100%;
}

.btn-home{
  text-decoration: none;
}

.prop-content {
    margin: 40px auto;
    text-align: center;
    font-size: 20px;
}

.prop-content>ul>li>p>span{
  font-weight: 700;
}

.prop-content>p {
    font-size: 22px;
}

.prop-content>p>span {
    font-weight: 700;
}

.prop-content>div{
  margin: 30px 0;
}

.prop-content>ul, .prop-content>div>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

.prop-content>ul>li{
    display: flex;
    width: 48%;
    margin: 30px 0;
}

.prop-content>ul>li>div>img{
  width: 100px;
  margin: 0 15px 0 0;
  min-width: 100px;
}

.prop-content>div>ul>li{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bolder;
}

.prop-content>div>ul>li>img{
  width: 20px;
}

h2.ttl-white {
    color: #fff;
    font-weight: 800 !important;
    font-family: titillium-web, sans-serif;
}

.img100-content {
    width: 100%;
    background-image: url(../img/banner-proposito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    background-position: center;
}

.img2col {
    width: 50%;
    margin-top: 20px;
}

.img2col>img{
  width: 95%;
}

/*-----muuri-----*/

/*.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}*/

.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  height: 200px;
  width: 200px;
  line-height: 200px;
  margin: 5px;
  text-align: center;
  z-index: 1;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #fff;
  background: #59687d;
  font-size: 40px;
  text-align: center;
}

.item.muuri-item-dragging .item-content {
  background: #8993a2;
}

.item.muuri-item-releasing .item-content {
  background: #152c43;
}

/*-----desplegable productos-----*/

.sumenu-prod>ul{
	background: #fff;
	list-style: none;
}

.mn-productos {
    display: none;
    position: absolute;
    z-index: 1;
    top: 623px;
}

.mn-productos2{
  top:523px;
}

.sumenu-prod2>ul{
  top:562px;
}

.sumenu-prod>ul>li {
    width: 400px;
    padding: 5px 15px;
}

.sumenu-prod>ul>li:hover {
    background-color: #2a2a5c;
    color: #fff;
}

.sumenu-prod>ul>li>a {
    text-decoration: none;
}

.sumenu-prod>a {
    text-decoration: none;
}

.gallery-trigger>ul>li:hover>ul {
    display: block;
    width: 400px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.075);
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.075);
    border-radius: 0 0 10px 10px;
}

.gallery-trigger {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    background-color: #2249b6;
}

.gallery-trigger>ul>li>a{
  color: #fff;
}

#grid {
    display: flex;
    justify-content: space-between;
}

#grid>a:hover {
    background-color: #f2f2f2;
    border-radius: 0 30px 0 30px;
}

.menu-index>img {
    width: 100%;
}

.img-producto {
    width: 28%;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.15);
    border-radius: 20px 0;
}

.lnvt{
	width: 2px;
	height: 50px;
	background: #000;
}


/*-----pagina interna de productos-----*/

.productos-emp{
  width: 40%;
  text-align: center;
}

.productos-emp > h6 > span {
    font-size: 20px;
    font-weight: 200;
}

.fls{
  width: 10%;
  text-align: center;
}


.fls>img {
    width: 20px;
}

.productos-info{
  width: 50%;
}

.productos-info>ul>li{
  font-size: 18px;
  margin: 5px 0;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
}

.productos-info>ul>li>span{
  font-weight: bolder;
}

.btn-back {
    width: 100%;
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
}

.btn-back > a {
    background-color: #061f6e;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.categoria>ul{
  display: flex;
  justify-content: space-between;
}

.categoria>ul>li{
  color: #000;
  font-size: 22px;
}

.categoria>ul>li>a {
    display: flex;
    text-decoration: none;
    background-color: #6ead3b;
    height: 33px;
    padding-right: 10px;
    border-radius: 22px;
}

.categoria>ul>li>a>div {
    color: #fff;
}

.categoria>ul>li>a>div>img {
    width: 35px;
    position: relative;
    left: -2px;
    top: -1px;
}

.categoria>ul>li>span{
  color: #000;
  font-weight: bolder;
}

.prod-etico {
    color: #6ead3b !important;
}

.prod-otc {
  color: #02116c !important;
}

.volver {
    text-align: right;
    margin: 20px 0 40px 0;
}

.volver > a {
    color: #fff;
    background-color: #02116c;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 0;
}

/*-----noticias-----*/

.news-int {
    width: 80%;
    margin: 60px auto;
}

.news-int>p{
  font-size: 18px;
  text-align: justify;
}

.news-int>img, .news-int>p {
  margin: 30px 0;
}

.news-int>p>span {
    font-weight: bold;
}

.news-content2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news-icon-img, .news-icon-vid {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    opacity: 0.35;
}

p.summary-news {
    text-align: center;
    font-size: 22px;
}

.news-img{
  width: 80%;
  margin: 0 auto;
}

.news-img>img{
  width: 100%;
}

.pie-p>p {
    font-size: 17px;
}

.line-up{
  border-top: 1px solid #545454;
  }
}

.swiper-container {
    margin: 40px auto !important;
}


.twtr-widget {
    width: 400px;
    margin: 50px 0 0 50px;
    padding: 0 0 25px;
    background: white url(background.png);
}

iframe#twitter-widget-0 {
    /* width: 25% !important; */
    height: 350px !important;
    /* overflow: auto !important; */
    /* margin-left: 15px; */
}

.SandboxRoot{
  display: flex !important;

}


/*----WIDGETS DE REDES SOCIALES-----*/

.rrss-display{
background-color: #ececec;
}

.eapps-instagram-feed-posts-slider-inner{
  width: 100% !important;
}





