{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<body>
  <div class="gral-content">
      <div class="orla-content">
        <div class="ttl-orla">
          <div><img src="{f:uri.resource(path: 'Images/orla-color-01.svg', package: 'evenpro.vincenti')}"></div>
          <div><h2 class="ttl-blue">News</h2></div>
          <div><img src="{f:uri.resource(path: 'Images/orla-color-02.svg', package: 'evenpro.vincenti')}"></div>       
        </div>
      </div>

      <div class="secciones">
        <article id="tab1">
          <div class="news-content2 flex-rsp mrg-bot">
            <f:for each="{data.data}" as="item" iteration="iterator1">
  
                <a href="detalle-noticias.html?idnoticia={item.id}" class=" news-content imghvr-shutter-in-out-diag-2">
                  <div class="news-icon-img">
                    <img src="{f:uri.resource(path: 'Images/icono_imagen.svg', package: 'evenpro.vincenti')}">
                  </div>
                  <div>
                    <img src="{item.ImageProducto}" alt="comer chocolate">
                    <h6 class="ttl-news-ext">{item.titulo}</h6>
                    <p>{item.resumen}</p>
                    <figcaption class="text-hover">
                        <h6>Ver +</h6>
                    </figcaption>
                  </div>
                </a>
            </f:for>
          </div>
        </article>
      </div>
  </div>
</body>