{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}


<f:if condition="{node.nodeData.path}!='/sites/evenpro-vincenti/node-vcgur3full3pn'">
	<f:if condition="{node.nodeData.path}!='/sites/evenpro-vincenti/node-not0pl8xcie79'">
		<div class="top-bar">
			<div class="row">
				<div class='col-lg-10 col-md-8 col-sm-8 second-mn'>
					<div class="menu-sec-content">
						<div class="menu-sec"> 
							<ul>
								<li>
									<a href="sala-de-prensa.html">Sala de prensa</a>
								</li>
								<li>
									<a href="multimedias.html">Multimedia</a>
								</li>
								<li>
									<a href="covid-19.html" style="font-weight: 900;color: #6ead3b;">COVID-19</a>
								</li>
							</ul> 
						</div>
					</div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-4 ln-mn-content'>
						<div class="language-menu">
							<div>
								<div>
									<f:for each="{items}" as="item">
										<f:if condition="{item.state} == 'current'">
											<f:if condition="{node.dimensions.language.0}=='en_US'">
												<img src="{f:uri.resource(path: 'Images/united-states.svg', package: 'evenpro.vincenti')}" height="20" width="20" alt="logo-vincenti">
											</f:if>
											<f:if condition="{node.dimensions.language.0}=='es'">
												<img src="{f:uri.resource(path: 'Images/spain.svg', package: 'evenpro.vincenti')}" height="20" width="20" alt="logo-vincenti">
											</f:if>
											<span class="language-menu-full">{item.label}</span><span class="language-menu-short" title="{item.label}">{item.preset.uriSegment}</span>
										</f:if>
									</f:for>
									<span>▼</span>
								</div>
							</div>
							<ul{attributes -> f:format.raw()}>
								<f:for each="{items}" as="item">
										<li{ts:render(path:'{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
										<f:if condition="{item.node}">
											<f:then>
												<neos:link.node node="{item.node}"><span class="language-menu-full">{item.label}</span><span class="language-menu-short" title="{item.label}">{item.preset.uriSegment}</span></neos:link.node>
											</f:then>
											<f:else>
												<span class="language-menu-full">{item.label}</span><span class="language-menu-short" title="{item.label}">{item.preset.uriSegment}</span>
											</f:else>
										</f:if>
									</li>
								</f:for>
							</ul>
						</div>
					</div>	
			</div>
		</div>
	</f:if>	
</f:if>
