{namespace neos=Neos\Neos\ViewHelpers}
<f:render section="itemList" arguments="{items: items, site: site}" />
<!--Seccion de menu-->
<f:section name="itemList">
    <div class="mn-gral">
        <div class="gral-content">
            <div id="mn-hamb" class="mn-hamb"><i class="fas fa-bars"></i></div>
            <div class="logo-rsp">
                <a href="{neos:uri.node(node: '~')}">
                    <img src="{f:uri.resource(path: 'Images/logo-vincenti-06.svg', package: 'evenpro.vincenti')}" alt="logo-vincenti"></a> </div>
            <div class="menu-content"> 
                <div class="logo-p"><a href="{neos:uri.node(node: '~')}"><img src="{f:uri.resource(path: 'Images/logo-vincenti-06.svg', package: 'evenpro.vincenti')}" alt="logo-vincenti"></a> </div>
                <!-- <div class="logo-p2"> <a href="{neos:uri.node(node: '~')}"><img src="{f:uri.resource(path: 'Images/logo-vincenti-05.svg', package: 'evenpro.vincenti')}" alt="logo-vincenti"></a> </div> -->
                <nav class="menu-ppal" id=menu-ppal>
                    <ul>
                        <f:for each="{items}" as="item" iteration="menuItemIterator">
                            <li class="submenu2">
                                <f:if condition="{item.node.properties.uriPathSegment} == 'productos' or {item.node.properties.uriPathSegment} == 'products'">
                                
                                    <f:then>
                                        <a href="#">{item.label} <i class="fas fa-angle-down"></i></a>
                                    </f:then>
                                    <f:else>
                                        <neos:link.node node="{item.node}">{item.label}</neos:link.node>
                                    </f:else>
                                
                                </f:if>
                                <f:if condition="{item.subItems}">
                                        <f:render section="subList" arguments="{items: item.subItems}" />
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </div>
        </div>
    </div> 
      <!--div class="video-ppal">
            <video playsinline autoplay muted loop >
                <source src="{f:uri.resource(path: 'video/vincenti-video1.webm', package: 'evenpro.vincenti')}"  type='video/webm; codecs="vp8.0, vorbis"' />
            </video>
        </div-->
  
</f:section>

<f:section name="subList">
	<ul>
		<f:for each="{items}" as="item">
			<li class="{item.state}">
                <f:if condition="{item.node.properties.uriPathSegment} == 'lista-de-precios' or item.node.properties.uriPathSegment == 'price-list'">
                    <f:then>
                        <a href="{f:uri.resource(path: 'pdf/preciosproductos.pdf', package: 'evenpro.vincenti')}" download="Listado de Precios">{item.label}</a>
                    </f:then>
                    <f:else>
                        <neos:link.node node="{item.node}">{item.label}</neos:link.node>
                    </f:else>
                </f:if>
            </li>
		</f:for>
	</ul>
</f:section>


