<!--Seccion de video-->
  <div class="video-ppal">
      <video playsinline autoplay muted loop >
          <source src="{f:uri.resource(path: 'video/vincenti-video1.webm', package: 'evenpro.vincenti')}"  type='video/webm; codecs="vp8.0, vorbis"' />
      </video>
  </div>
  <div class="slideshow">
  <ul class="slider">
    <li style=""> 
      <section class="caption">
        <div class="prod-info">
          <h2 class="txt-big-bold-ttl txt-turkey">Entendemos <span style=" color: #fff; font-size: 30px; font-weight: 300;">que la</span><span style="color: #fff;"> felicidad</span></h2>
          <h2 class="txt-mid-light-ttl txt-turkey"><span style=" color: #fff; font-size: 30px; font-weight: 300;">y</span> <span style="font-size: 40px; color: #fff; font-weight: 800;"> el bienestar</span> de <span style="font-size: 40px; color: #fff; font-weight: 800;">nuestros pacientes</span> </h2>
          <h2 class="txt-mid-reg-ttl txt-turkey"><span style=" color: #fff; font-size: 30px; font-weight: 300;">está en la </span><span style="color: #fff;"> calidad y efectividad</span></h2>
          <h2 class="txt-mid-light-ttl txt-turkey">de <span style="font-weight:700; color: #fff;">nuestros productos</span></h2>
          <!-- <p class="txt-shad-blue">Con la innovaci&oacute;n te ofrecemos el complemento perfecto para estimular su crecimiento</p> --> 
        </div>
        <!-- <div class="prod-info">
            <img src="img/novepar-logo.png">
          </div> --> 
      </section>
    </li>
    <li style="display: none;"> 
      <!-- <div class="img-prod">
					<img src="img/otan.png" alt="">
				</div> -->
      <section class="caption">
        <div class="prod-info">
          <h2 class="txt-big-bold-ttl txt-green-light">ACOMPAÑÁNDOTE</h2>
          <h2 class="txt-mid-light-ttl txt-green-light">POR MÁS DE 70 AÑOS</h2>
        </div>
      </section>
    </li>
    <li style="display: none;">
      <section class="caption">
        <div class="prod-info">
          <h2 class="txt-big-bold-ttl txt-light-blue">EXPERTOS</h2>
          <h2 class="txt-mid-reg-ttl txt-light-blue">EN LA FABRICACIÓN DE PRODUCTOS</h2>
          <h2 class="txt-mid-light-ttl txt-light-blue">PARA TU SALUD</h2>
        </div>
      </section>
    </li>
    <li style="display: none;">
      <section class="caption">
        <div class="prod-info">
          <h2 class="txt-yellow txt-big-bold-ttl  txt-up">SEGUIMOS</h2>
          <h2 class="txt-yellow txt-mid-reg-ttl  txt-up"> INNOVANDO PARA INCREMENTAR</h2>
          <h2 class="txt-yellow txt-mid-light-ttl  txt-up">TU BIENESTAR</h2>
        </div>
      </section>
    </li>
    <li style="display: none;">
      <section class="caption">
        <div class="prod-info small-content">
          <h2 class="txt-violet txt-big-bold-ttl">CUIDAMOS DE TI</h2>
          <h2 class="txt-violet txt-mid-reg-ttl"> Y LOS TUYOS EN LAS DIFERENTES</h2>
          <h2 class="txt-violet txt-mid-light-ttl"> ETAPAS DE LA VIDA</h2>
        </div>
      </section>
    </li>
  </ul>
  <div class="pagination">
    <li style="color: rgb(205, 110, 46);"><span class="fa fa-circle"></span></li>
    <li style="color: rgb(205, 110, 46);"><span class="fa fa-circle"></span></li>
    <li style="color: rgb(133, 133, 133);"><span class="fa fa-circle"></span></li>
    <li style="color: rgb(133, 133, 133);"><span class="fa fa-circle"></span></li>
  <li><span class="fa fa-circle"></span></li><li><span class="fa fa-circle"></span></li><li><span class="fa fa-circle"></span></li><li><span class="fa fa-circle"></span></li><li><span class="fa fa-circle"></span></li></div>
</div>
<div class="social-media-header"> 
  <a href="https://www.facebook.com/Vincentilab/?ref=br_rs" target="_blank">
    <img src="{f:uri.resource(path: 'Images/fb2.svg', package: 'evenpro.vincenti')}" alt="logo facebook">
  </a> 
  <a href="https://www.instagram.com/vincentilab/" target="_blank">
    <img src="{f:uri.resource(path: 'Images/ig2.svg', package: 'evenpro.vincenti')}" alt="logo instagram">
  </a> 
  <a href="https://twitter.com/VincentiLab" target="_blank">
    <img src="{f:uri.resource(path: 'Images/tw2.svg', package: 'evenpro.vincenti')}" alt="logo twitter">
  </a> 
</div>