{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}


  <f:for each="{data.data}" as="item" iteration="iterator1">
  <form>
    <input type="hidden" value='{item.contenido}' id="contenido1">
  </form>

          <div class="noticias">
              <div class="gral-content">
                <div class="orla-ttl">
                  <img src="{f:uri.resource(path: 'Images/ttl-producto-02.svg', package: 'evenpro.vincenti')}">
                </div>
                  <h2 class="ttl-blue">Noticias</h2>
                  <div class="news-int">
            
                    <h4 class="ttl-centr">{item.titulo}</h4>
         
                    <p class="summary-news">{item.resumen}</p>
                    <div class="news-img">
                      <img src="{f:uri.resource(resource: item.originalResource)}" />
                    </div>
                    <p class="card-text" id="contenido_1"></p>
                    <p></p>
                  </div>

                  <div class="line-up"></div>

                  <div class="news-int pie-p">
                    <p><span>Laboratorios Vincenti,</span> fue fundado por el Dr. César Vincenti en 1948, se encarga de la fabricación, distribución y comercialización de medicamentos y fórmulas especiales para el tratamiento de distintas terapias. Es un Laboratorio comprometido con la calidad y el control en cada uno de los procesos; su maestría de más de 70 años en el mercado al servicio de la salud y el bienestar de la población y su entorno, tiene un amplio portafolio con disponibilidad para todos, con el orgullo de haberse creado en Venezuela. </p>
                  </div>
                  
              </div>
  
        </div>
  </f:for>
  
  <script>
    
    $(document).ready(function() {
        var contenido = $('#contenido1').val();
        $("#contenido_1").html(contenido);
    });


</script>