{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<style>
    #intro{
       background-image: url('{media:uri.image(image:image)}') ;
       background-repeat: repeat-x;
        
    }
    
</style>
<f:if condition="{image}">
	<f:then>
		<f:render section="imageRendering" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inEditMode()}">
			<img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
		</f:if>
	</f:else>
</f:if>


<f:section name="imageRendering">
    <div id="intro" style="background-position: 50% 61px;">
        <div class="story">
            <div class="float-left txt-left">
                <h3>{texto}<br>
                <span> {texto2}</span><br>
                <span> {texto3}</span></h3>
            </div>       
        </div>
    </div>
</f:section>