{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<style>
    #intro{
       background-image: url('{media:uri.image(image:image)}') ;
       background-repeat: repeat-x;
       background-attachment: inherit !important;
        
    }
    
</style>
<f:if condition="{image}">
	<f:then>
		<f:render section="imageRendering" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inEditMode()}">
			<img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
		</f:if>
	</f:else>
</f:if>


<f:section name="imageRendering">
    <div id="intro" class="vitrina-int" style="background-position: 50% 61px;">
		<div class="img-vitr">
			<img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/logo-vitrina-02.svg')}" alt="logo-vitrinas" />
		</div>
    </div>
</f:section>