{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}


<!--Footer-->
<f:if condition="{node.dimensions.language.0}=='en_US'">
    <f:then>
        <div class="footer">
          <div class="gral-content footer-content">
            <div class="dsp-flex">
              <div class="logo-footer">
                  <a href="index.html">
                    <img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/logo-vincenti-07.svg')}" alt="logo vincenti blanco">
                  </a>
               </div>
              <div class="footer-col">
                <div class="dsp-flex">
                  <ul>
                    <li><a href="nosotros.html">About Us</a></li>
                    <li><a href="productos.html">Products</a></li>
                    <li><a href="noticias.html">News</a></li>
                    <li><a href="contacto.html">Contact</a></li>
                  </ul>
                  <ul>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="politicas.html">Privacy Policies</a></li>
                    <li><a href="terminos.html">Terms and Conditions</a></li>
                  </ul>
                </div>
              </div>
              <div class="rrss">
                <h6 class="txt-white">Follow Us</h6>
                <div class="dsp-flex"> 
                  <a href="https://www.facebook.com/Vincentilab/" target="_blank">
                    <img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/fb.svg')}" alt="logo facebook"></a> <a href="https://www.instagram.com/vincentilab/" target="_blank">
                    <img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/ig.svg')}" alt="logo instagram"></a> <a href="https://twitter.com/VincentiLab" target="_blank">
                    <img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/tw.svg')}" alt="logo twitter">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </f:then>
      <f:else>
          <div class="footer">
            <div class="gral-content footer-content">
              <div class="dsp-flex">
                <div class="logo-footer">
                    <a href="index.html"><img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/logo-vincenti-07.svg')}" alt="logo vincenti blanco"></a>
                  </div>
                <div class="footer-col">
                  <div class="dsp-flex">
                    <ul>
                      <li><a href="nosotros.html">Nosotros</a></li>
                      <li><a href="productos.html">Productos</a></li>
                      <li><a href="noticias.html">Noticias</a></li>
                      <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                    <ul>
                      <li><a href="#">Mapa del Sitio</a></li>
                      <li><a href="politicas.html">Políticas de Privacidad</a></li>
                      <li><a href="terminos.html">Términos y condiciones</a></li>
                    </ul>
                  </div>
                </div>
                <div class="rrss">
                  <h6 class="txt-white">Síguenos</h6>
                  <div class="dsp-flex"> <a href="https://www.facebook.com/Vincentilab/" target="_blank">
                  <img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/fb.svg')}" alt="logo facebook"></a> <a href="https://www.instagram.com/vincentilab/" target="_blank">
                  <img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/ig.svg')}" alt="logo instagram"></a> <a href="https://twitter.com/VincentiLab" target="_blank">
                  <img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/tw.svg')}" alt="logo twitter"></a> </div>
                </div>
              </div>
              <div class="rif-vertical">
                J-00021540-5
              </div>
            </div>
        </div>
    

    </f:else>
</f:if>	