{namespace neos=Neos\Neos\ViewHelpers}
<div class="rrss-display">
    <div class="gral-content">
      <!-- <ul class="tabs">
        
        <li><a href="#tab1" class="active">Instagram</a></li>
        <li><a href="#tab2">Twitter</a></li>
      </ul> -->
      <div class="twitter-content secciones">
        <article id="tab1" style="display: block;">
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-2a0a7da0-8895-4867-a4e2-ee91141853cc"></div>
        </article>
          
      <div class="twitter-content secciones">
        <article id="tab2" style="display: none;">

            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-fe0505a8-6f24-4c1f-8afb-c3fb2bcb5d01"></div>
          
            
          
        </article>
      </div>
      
    </div>
  </div>