{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<f:if condition="{image}">
	<f:then>
		<f:render section="imageRendering" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inEditMode()}">
			<img src="{f:uri.resource(package: 'evenpro.vincenti', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
		</f:if>
	</f:else>
</f:if>


<f:section name="imageRendering">
	<div class="modal fade modalPopup" id="popUpModal" tabindex="-1" role="dialog" aria-labelledby="popUpModalLabel" aria-hidden="true">
		<div class="modal-dialog modalPopupDialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<media:image image="{image}" alt="{alternativeText}" title="{title}" width="{width}"
			maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
			allowUpScaling="{allowUpScaling}" allowCropping="{allowCropping}" class="img-fluid img-modal" />
			
		</div>
	</div>

	<script>
		$('#popUpModal').modal(function(){
			show: true;
		}
		);
	</script>
</f:section>