<f:layout name="Default" />

<f:section name="Title">Editar noticia "{noticias.titulo}"</f:section>

<f:section name="Content">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    

    <f:form action="update" object="{noticias}" objectName="noticias" enctype="multipart/form-data" style="margin-left: 20px;">
        <div class="form-group">
            <div class="row">    
                <div class ="col-lg-6 col-sm-6">
                    <label for="titulo">Titulo</label>
                    <f:form.textfield property="titulo" class="form-control" id="titulo"  maxlength="255"/>
                </div>    
                <div class ="col-lg-6 col-sm-6">
                    <label for="tituloEn">Titulo en Ingles</label>
                    <f:form.textfield  property="tituloEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">    
                <div class ="col-lg-6 col-sm-6">
                    <label for="resumen">Sumario</label>
                    <f:form.textfield property="resumen" class="form-control" id="resumen"  maxlength="500"/>
                </div>    
                <div class ="col-lg-6 col-sm-6">
                    <label for="resumenEn">Sumario</label>
                    <f:form.textfield property="resumenEn" class="form-control" id="resumenEn"  maxlength="500"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">    
                <div class ="col-lg-6 col-sm-6">
                    <label for="contenido">Contenido</label>
                    <f:form.textarea property="contenido" id="summernote" class="form-control"/>
                </div>    
                <div class ="col-lg-6 col-sm-6">
                    <label for="contenidoEn">Contenido Ingles</label>
                    <f:form.textarea property="contenidoEn" id="summernoteEn" class="form-control"/>
                </div>
            </div>
        </div>


         <div class="form-group">
            <div class="row">    
                <div class ="col-lg-6 col-sm-6">
                     <label for="tags">Tags</label>
                    <f:form.textfield property="tags" class="form-control" name="tags" maxlength="255"/>
                </div>    
                <div class ="col-lg-6 col-sm-6">
                    <label for="tagsEn">Tags Ingles</label>
                    <f:form.textfield property="tagsEn" class="form-control" name="tagsEn" maxlength="255"/>
                </div>
            </div>
        </div>

        <f:form.submit value="Actualizar" class="btn btn-primary"/>
        <f:link.action class="btn btn-success" action="index">Regresar</f:link.action>
    </f:form>

    <script>
            $('#summernote').summernote({
                placeholder: 'Agregue HTML presionando promero el icono </>',
                tabsize: 2,
                height: 200
            });

            $('#summernoteEn').summernote({
                placeholder: 'Agregue HTML presionando promero el icono </>',
                tabsize: 2,
                height: 200
            });
    </script>
</f:section>
