{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<body>
<input type="hidden" value="{data.dominio}" id="dominio">
<section id="food-menu" class=" food-menu-wrapper section-padding4">
      <div class="gral-content"> 
        <div class=""> 
          <div class="col-xs-12"> 
          <div class="orla-content">
            <div class="ttl-orla">
              <div><img src="{f:uri.resource(path: 'Images/orla-color-01.svg', package: 'evenpro.vincenti')}"></div>
              <div><h2 class="ttl-blue">Productos</h2></div>
              <div><img src="{f:uri.resource(path: 'Images/orla-color-02.svg', package: 'evenpro.vincenti')}"></div>        
            </div>
          </div>
        </div>
        <br><br><br>
        <div class=""> 
          <nav class="gallery-trigger">
          <div class="form-group">
              <label for="exampleFormControlSelect1">Categoria</label>
              <select class="form-control" id="controlSelect1">
                <option value="">Área Terapéutica</option>
                <f:for each="{data.categoria}" as="item" iteration="iterator1">
                    <option value="{item.Persistence_Object_Identifier}">{item.categoria}</option>
                </f:for>
              </select>
          </div>
         </nav>


          <f:variable name="i" value="1"/>
          <f:for each="{data.data}" as="item" iteration="iterator1">
            <a href="detalle-producto.html?idproducto={item.id}">
          		<f:if condition="({i}==1)">
                <div class="row prod-content" style="display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
              </f:if>
              <div class='col-sm-12 col-md-3 col-lg-3' style='color:white; font-size:14px'>
                <div class="card pro-card">
                  <img src="{item.ImageProducto}" class="card-img-top" alt="...">
                </div>
              </div>
              <f:if condition="({i}==3)">
                </div>
                <f:variable name="i" value="0" />

              </f:if>    
                {f:variable(name: 'i', value: '{i + 1}')}
            </a>
          </f:for>

        <!-- <div style="text-align: center; margin-bottom: 20px;">
          <a href="download/acme-doc-2.0.1.txt" class="enlaceboton" download="Acme Documentation (ver. 2.0.1).txt">Lista de Precios</a>
        </div> -->

      </div><!-- row -->



    </div><!-- container -->
  </div></section>
  <script>
    $(document).ready(function()
    {
        $( "#controlSelect1" ).change(function() {
            window.location=$('#dominio').val()+'/productos/catalogo.html?idcategoria='+$(this).val();
        });

        $("#controlSelect1").val("{data.idCategoria}");
    });
  </script>

  </body>