

<f:layout name="Default" />

<f:section name="Title">Nueva Multimedia</f:section>

<f:section name="Content">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

    <f:form action="create" objectName="newMultimedia" enctype="multipart/form-data" style="margin-left: 20px;">
        <div class="form-group">
            <div class="row">    
                <div class ="col-lg-6 col-sm-6">
                    <label for="titulo">Titulo</label>
                    <f:form.textfield property="titulo" class="form-control" id="titulo"  maxlength="255"/>
                </div>    
                <div class ="col-lg-6 col-sm-6">
                    <label for="tituloEn">Titulo en Ingles</label>
                    <f:form.textfield  property="tituloEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="vigente">Vigente &nbsp </label>
            <f:form.select property="vigente" name="vigente" class="form-control" options="{1: 'SI', 0: 'NO'}"/>
        </div>
        <label for="fondo">Imagen &nbsp </label>
        <div class="form-group">
            <f:form.upload property="originalResource"/>
        </div>
        <label for="icono">Icono &nbsp </label>
        <div class="form-group">
            <f:form.upload property="iconoResource"/>
        </div>
        <label for="Adjunto">Adjunto &nbsp </label>
        <div class="form-group">
            <f:form.upload property="adjuntoResource"/>
        </div>

        <f:form.submit value="Almacenar" class="btn btn-primary"/>
        <f:link.action class="btn btn-success" action="index">Regresar</f:link.action>
    </f:form>

    <script>
        $('#summernote').summernote({
            placeholder: 'Agregue HTML presionando promero el icono </>',
            tabsize: 2,
            height: 200
        });

         $('#summernoteEn').summernote({
            placeholder: 'Agregue HTML presionando promero el icono </>',
            tabsize: 2,
            height: 200
        });
    </script>

</f:section>
