<f:layout name="Default" />

<f:section name="Title">Show Multimedia"{multimedia.name}"</f:section>

<f:section name="Content">
    <table>
        <tr>
            <th>Name</th>
            <td>{multimedia.name}</td>
        </tr>
    </table>
    <f:link.action action="index">Back</f:link.action>
</f:section>
