<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
		<script src="{f:uri.resource(path: 'JavaScript/jquery-3.3.1.min.js', package: 'evenpro.vincenti')}"></script>
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-4.3.1.min.css', package: 'evenpro.vincenti')}" media="all" />
		<script src="{f:uri.resource(path: 'JavaScript/bootstrap-4.0.0.min.js', package: 'evenpro.vincenti')}"></script>
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/styles.css', package: 'evenpro.vincenti')}" media="all" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/styles2.css', package: 'evenpro.vincenti')}" media="all" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/imagehover.min.css', package: 'evenpro.vincenti')}" media="all" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/swiper.min.css', package: 'evenpro.vincenti')}" media="all" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/NeosDemo.css', package: 'Neos.Demo')}" media="all" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, user-scalable=no">
	</f:section>
	<f:section name="headScripts">
		<!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
	</f:section>
</head>
<body>
	<f:section name="body">

		<nav class="menu">
			{parts.languageMenu -> f:format.raw()}
			{parts.mainMenu -> f:format.raw()}
				
		</nav>
		<div class="content">
			
			{content.main -> f:format.raw()}

		<f:comment>
			If you enabled the "sidebar" content area in your NodeType configuration and Fusion, you can uncomment this
			section to actually render in in your output. Remove the "f:comment" tag and this text, and adjust the markup as you
			like.

			{content.sidebar -> f:format.raw()}
		</f:comment>
			{footer -> f:format.raw()}
	</f:section>
	<f:section name="bodyScripts">
		<script src="{f:uri.resource(path: 'JavaScript/jquery.validate-1.19.0.js', package: 'evenpro.vincenti')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/jquery.parallax-1.1.3.js', package: 'evenpro.vincenti')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/jquery.localscroll-1.2.7-min.js', package: 'evenpro.vincenti')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/jquery.scrollTo-1.4.2-min.js', package: 'evenpro.vincenti')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/script.js', package: 'evenpro.vincenti')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/swiper.min.js', package: 'evenpro.vincenti')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/wow.min.js', package: 'evenpro.vincenti')}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#nav').localScroll(800);
				
				//.parallax(xPosition, speedFactor, outerHeight) options:
				//xPosition - Horizontal position of the element
				//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
				//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
				$('#intro').parallax("50%", 0.1);
				$('#second').parallax("50%", 0.1);
				$('.bg').parallax("50%", 0.4);
				$('#third').parallax("50%", 0.3);

			})
		</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141018779-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-141018779-1');
		</script>

		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper('.swiper-container', {
			slidesPerView: 4,
			spaceBetween: 30,
			loop: true,
			autoplay: {
				delay: 4000,
				disableOnInteraction: false,
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},

			});
		</script>
	</f:section>
</body>
</html>
