<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}


<body>
	

	<div id="productos">
		<div class="gral-content"> 
			<a class="btn-home" href="es/productos/catalogo.html">
					<div class="orla-content">
						<div class="ttl-orla">
							<div>
								<img src="{f:uri.resource(path: 'Images/orla-color-01.svg', package: 'evenpro.vincenti')}" alt="logo-vincenti">
							</div>
							<div>
								<h2 class="ttl-blue">Productos</h2>
							</div>
							<div>
								<img src="{f:uri.resource(path: 'Images/orla-color-02.svg', package: 'evenpro.vincenti')}" alt="logo-vincenti">
							</div>
						</div>
					</div>
			</a>
			<div class="swiper-container">
				<div class="swiper-wrapper">
				
					<f:for each="{data.data}" as="item" iteration="iterator1">
						

						<div class="swiper-slide"> <a href="detalle-producto.html?idproducto={item.id}">
							<figure class="imghvr-push-up"> <img src="{item.ImageProducto}">
							<h5>{item.nombre}</h5>
							<figcaption class="text-hover">
								<h6>{item.nombre}</h6>
								<p>{item.descripcion}</p>
							</figcaption>
							</figure>
							</a> 
						</div>
				
				
					</f:for>
				</div>
				<!-- Add Pagination -->
				<br>
				<div class="swiper-pagination"></div>
			</div>
			<div class="productos-resp"> 
				<a href="productos.html">
					<img src="https://www.vincentilab.com/_Resources/Persistent/f8d26d0c32d9a13b72dbfd1e13a45df5176064a0/prod-gal2.jpg">
				</a> 
			</div>
		</div>
	</div>

	


</body>


	


