<!-- Seccion de contacto-->
<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
  <div class="gral-content"> 
		 <div class="orla-content">
            <div class="ttl-orla">
              <div><img src="{f:uri.resource(path: 'Images/orla-color-01.svg', package: 'evenpro.vincenti')}"></div>
              <div><h2 class="ttl-blue">Contacto</h2></div>
              <div><img src="{f:uri.resource(path: 'Images/orla-color-02.svg', package: 'evenpro.vincenti')}"></div>        
            </div>
          </div>

        <div class="wrap">
        	<ul class="tabs">
        		<li><a href="#tab1" class="active">Comentarios</a></li>
				<li><a href="#tab2" class="">Farmacovigilancia</a></li>
        	</ul>
        </div>
        <input type="hidden" id="dominio" value="{data.dominio}">
        <div class="secciones">
        	<article id="tab1" style="display: block;">
        		<h6>Comentarios y sugerencias</h6>
            <form id="formulario" method="post" name="formulario" action="" >
                <input type="text" id="name" name="name" placeholder="Nombre" maxlength="50">
                <input type="text" id="email" name="email" placeholder="Correo Electrónico" maxlength="100">
                <input type="text" id="telefono" name="telefono" placeholder="Teléfono" maxlength="14">
                <textarea id="mensaje" name="mensaje" rows="3" placeholder="Escriba su mensaje" maxlength="500"></textarea>
                <button type='submit' id="boton-env-form" style="margin-top: 10px;">ENVIAR</button>
            </form>
        	</article>

        	<article id="tab2" style="display: none;">
        		<h6>Farmacovigilancia</h6>
        		<p>En Vincenti® contamos con un riguroso Sistema de FARMACOVIGILANCIA, que tiene por objetivo la identificación, cuantificación, evaluación y prevención de los riesgos del uso de los medicamentos una vez comercializados, de acuerdo a la Organización Mundial de la Salud (OMS).&nbsp;
				    <br><br>
              En caso de presentar algún efecto adverso con el uso de alguno de nuestros medicamentos, te invitamos a llenar el siguiente formulario para ofrecerte  información y asistencia al respecto.
            </p>
            <form id="formularioVigilancia" method="post" name="formularioVigilancia" action="" >

              <h5>Datos del paciente</h5>
              <input type="text" id="nombre" name="nombre" placeholder="Nombre" maxlength="50">
              <input type="text" id="ci" name="ci" placeholder="Cédula" maxlength="10">
              <input type="text" id="correo" name="correo" placeholder="Correo Electrónico" maxlength="100">
              <input type="text" id="telefono" name="telefono" placeholder="Teléfono" maxlength="50">

              <h5>Notificación de la reacción adversa</h5>
              <input type="text" id="medicamento" name="medicamento" placeholder="Nombre Medicamento" maxlength="100">
              <input type="text" id="presentacion" name="presentacion" placeholder="Presentación" maxlength="100">
              <input type="text" id="reaccion" name="reaccion" placeholder="Reacción  presentada" maxlength="200">
              <textarea id="coments" name="coments" rows="3" placeholder="Escriba su comentario" maxlength="1000"></textarea>

              <button type='submit' id="boton-env-form" style="margin-top: 10px;">ENVIAR</button>
            </form>
        	</article>
        </div>
	
	</div>
  <script type="text/javascript" >  
    $( document ).ready( function () {
    
      $('#formulario').validate({
          rules: {
            name: 'required',
            email: 'required',
            telefono: 'required',
            mensaje: 'required'
            
          },
          messages: {
            name: 'Este campo es requerido',
            email: 'Este campo es requerido',
            telefono: 'Este campo es requerido',
            mensaje: 'Este campo es requerido'
          },
          submitHandler: function(form) {
            $("#boton-env-form").attr("disabled", true);
              var $this = $("#boton-env-form");
              var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Enviado...';
              if ($("#boton-env-form").html() !== loadingText) {
                $this.data('original-text', $("#boton-env-form").html());
                $this.html(loadingText);
              }

              $.ajax({
                url: $('#dominio').val()+"/contacto/create",
                data : $("#formulario").serialize(),
                type: "POST",
                dataType : 'json',
              }).done(function(data) {
                 $("#boton-env-form").val("Enviar");
                 $("#boton-env-form").attr("disabled", false);
                 $("#name").val("");
                 $("#email").val("");
                 $("#telefono").val("");
                 $("#mensaje").val("");
              });
        }   
      });

       $('#formularioVigilancia').validate({
          rules: {
            nombre: 'required',
            ci: 'required',
            correo: 'required',
            telefono: 'required',
            medicamento: 'required',
            presentacion: 'required',
            reaccion: 'required',
            coments: 'required'
            
          },
          messages: {
            nombre: 'Este campo es requerido',
            ci: 'Este campo es requerido',
            correo: 'Este campo es requerido',
            telefono: 'Este campo es requerido',
            medicamento: 'Este campo es requerido',
            presentacion: 'Este campo es requerido',
            reaccion: 'Este campo es requerido',
            coments: 'Este campo es requerido'
          },
          submitHandler: function(form) {
              $("#boton-env-form").attr("disabled", true);
              var $this = $("#boton-env-form");
              var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Enviado...';
              if ($("#boton-env-form").html() !== loadingText) {
                $this.data('original-text', $("#boton-env-form").html());
                $this.html(loadingText);
              }
              $.ajax({
                url: $('#dominio').val()+"/contacto/createFarmacovigilancia",
                data : $("#formularioVigilancia").serialize(),
                type: "POST",
                dataType : 'json',
              }).done(function(data) {
                 $("#boton-env-form").val("Enviar");
                 $("#boton-env-form").attr("disabled", false);
                 $("#nombre").val("");
                 $("#ci").val("");
                 $("#correo").val("");
                 $("#telefono").val("");

                 $("#medicamento").val("");
                 $("#presentacion").val("");
                 $("#reaccion").val("");
                 $("#coments").val("");
                 

              });
        }   
      });
    });
  </script>    
  </f:section>