
<f:layout name="Default" />

<f:section name="Title"></f:section>
<f:section name="Content">
  <div class="gral-content"> 

		 <div class="orla-content">
            <div class="ttl-orla">
              <div><img src="{f:uri.resource(path: 'Images/orla-color-01.svg', package: 'evenpro.vincenti')}"></div>
              <div><h2 class="ttl-blue">Contact</h2></div>
              <div><img src="{f:uri.resource(path: 'Images/orla-color-02.svg', package: 'evenpro.vincenti')}"></div>        
            </div>
          </div>

        <div class="wrap">
        	<ul class="tabs">
        		<li><a href="#tab1" class="active">Comments</a></li>
				<li><a href="#tab2" class="">Pharmacovigilance</a></li>
        	</ul>
        </div>
        <input type="hidden" id="dominio" value="{data.dominio}">
        <div class="secciones">
        	<article id="tab1" style="display: block;">
        		<h6>Comments and suggestions</h6>
        		<form id="formulario" method="post" name="formulario" action="" >
                <input type="text" id="name" name="name" placeholder="Name" maxlength="50">
                <input type="text" id="email" name="email" placeholder="email" maxlength="100">
                <input type="text" id="telefono" name="telefono" placeholder="Telephone" maxlength="14">
                <textarea id="mensaje" name="mensaje" rows="3" placeholder="Write your message" maxlength="500"></textarea>
                <button type='submit' id="boton-env-form" style="margin-top: 10px;">SEND</button>
            </form>
        	</article>

        	<article id="tab2" style="display: none;">
        		<h6>Pharmacovigilance</h6>
        		<p>In Vincenti we have a rigorous PHARMACOVIGILANCE System, which aims to identify, quantify, evaluate and prevent the risks of the use of medicines once marketed, according to the World Health Organization  (OMS).&nbsp;
				    <br><br>
              In case of presenting any adverse effect with the use of any of our medications, we invite you to fill out the following form to offer you information and assistance in this regard.
            </p>

            <form id="formularioVigilancia" method="post" name="formularioVigilancia" action="" >

              <h5>Patient's data</h5>
              <input type="text" id="nombre" name="nombre" placeholder="Nombre" maxlength="50">
              <input type="text" id="ci" name="ci" placeholder="Cédula" maxlength="10">
              <input type="text" id="correo" name="correo" placeholder="Correo" maxlength="100">
              <input type="text" id="telefono" name="telefono" placeholder="Teléfono" maxlength="50">

              <h5>Notification of adverse reaction</h5>
              <input type="text" id="medicamento" name="medicamento" placeholder="Medicamento" maxlength="100">
              <input type="text" id="presentacion" name="presentacion" placeholder="Presentacion" maxlength="100">
              <input type="text" id="reaccion" name="reaccion" placeholder="Reacción  presentada" maxlength="200">
              <textarea id="coments" name="coments" rows="3" placeholder="Escriba su comentario" maxlength="1000"></textarea>

              <button type='submit' id="boton-env-form" style="margin-top: 10px;">SEND</button>
            </form>
        	</article>
        </div>
	
	</div>

  <script type="text/javascript" >  
    $( document ).ready( function () {
    
      $('#formulario').validate({
          rules: {
            name: 'required',
            email: 'required',
            telefono: 'required',
            mensaje: 'required'
            
          },
          messages: {
            name: 'This field is required',
            email: 'This field is required',
            telefono: 'This field is required',
            mensaje: 'This field is required'
          },
          submitHandler: function(form) {
            $("#boton-env-form").attr("disabled", true);
              var $this = $("#boton-env-form");
              var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Enviado...';
              if ($("#boton-env-form").html() !== loadingText) {
                $this.data('original-text', $("#boton-env-form").html());
                $this.html(loadingText);
              }

              $.ajax({
                url: $('#dominio').val()+"/contacto/create",
                data : $("#formulario").serialize(),
                type: "POST",
                dataType : 'json',
              }).done(function(data) {
                 $("#boton-env-form").val("Send");
                 $("#boton-env-form").attr("disabled", false);
                 $("#name").val("");
                 $("#email").val("");
                 $("#telefono").val("");
                 $("#mensaje").val("");
              });
        }   
      });

       $('#formularioVigilancia').validate({
          rules: {
            nombre: 'required',
            ci: 'required',
            correo: 'required',
            telefono: 'required',
            medicamento: 'required',
            presentacion: 'required',
            reaccion: 'required',
            coments: 'required'
            
          },
          messages: {
            nombre: 'This field is required',
            ci: 'This field is required',
            correo: 'This field is required',
            telefono: 'This field is required',
            medicamento: 'This field is required',
            presentacion: 'This field is required',
            reaccion: 'This field is required',
            coments: 'This field is required'
          },
          submitHandler: function(form) {
              $("#boton-env-form").attr("disabled", true);
              var $this = $("#boton-env-form");
              var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Enviado...';
              if ($("#boton-env-form").html() !== loadingText) {
                $this.data('original-text', $("#boton-env-form").html());
                $this.html(loadingText);
              }
              $.ajax({
                url: $('#dominio').val()+"/contacto/createFarmacovigilancia",
                data : $("#formularioVigilancia").serialize(),
                type: "POST",
                dataType : 'json',
              }).done(function(data) {
                 $("#boton-env-form").val("Send");
                 $("#boton-env-form").attr("disabled", false);
                 $("#nombre").val("");
                 $("#ci").val("");
                 $("#correo").val("");
                 $("#telefono").val("");

                 $("#medicamento").val("");
                 $("#presentacion").val("");
                 $("#reaccion").val("");
                 $("#coments").val("");
              });
        }   
      });
    });
  </script>          	
  

  </f:section>