<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}


<body>




	

 <div class="noticias">
		<div class="gral-content">
			<a class="btn-home" href="noticias.html">
				<div class="orla-content">
				    <div class="ttl-orla">
					    <div>
							<img src="{f:uri.resource(path: 'Images/orla-color-01.svg', package: 'evenpro.vincenti')}" alt="logo-vincenti">
						</div>
				        <div><h2 class="ttl-blue">News</h2></div>
				        <div>
							<img src="{f:uri.resource(path: 'Images/orla-color-02.svg', package: 'evenpro.vincenti')}" alt="logo-vincenti">
						</div>       
				    </div>
				</div>
			</a>
			<div class="news-content2 flex-rsp mrg-bot">
              <f:for each="{data.data}" as="item" iteration="iterator1">
					<a href="detalle-noticias.html?idnoticia={item.id}" class=" news-content imghvr-shutter-in-out-diag-2">
						<div class="news-icon-img">
							<img src="{f:uri.resource(path: 'Images/icono_imagen.svg', package: 'evenpro.vincenti')}"  alt="icono imagen">
						</div>
						<div>
							<img src="{item.ImageProducto}">
							<h6 class="ttl-news-ext">{item.tituloEn}</h6>
							<p>{item.resumenEn} </p>
							<figcaption class="text-hover">
								<h6>Ver +</h6>
							</figcaption>
						</div>
					</a>
				</f:for>
			</div>
		</div>
	</div>

	<div style="position:absolute; top:2035px;z-index:99999"><img src="{f:uri.resource(path: 'Images/banner_campana.png', package: 'evenpro.vincenti')}" alt="campana_vincenti" width="224" height="495"></div>
</body>