{namespace neos=Neos\Neos\ViewHelpers}
{namespace form=Neos\Form\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
    <div class="neos-module-container">
        <h2>{neos:backend.translate(source: 'Modules', package: 'Neos.Neos', id: 'users.editAccount.title', arguments: {accountIdentifier: account.accountIdentifier})}</h2>
    </div>
</f:section>

<f:section name="content">
    <f:alias map="{showRoles: true}">
        <f:form action="updateAccount" object="{account}" objectName="account" class="user user-edit">
            <div class="neos-row-fluid neos-module-container">
                <fieldset class="neos-span5">
                    <legend>{neos:backend.translate(source: 'Modules', package: 'Neos.Neos', id: 'users.account')}</legend>
                    <div class="neos-control-group">
                        <label class="neos-control-label">{neos:backend.translate(source: 'Modules', package: 'Neos.Neos', id: 'users.username')}</label>
                        <div class="neos-controls">
                            <span class="neos-span12 neos-uneditable-input" title="{neos:backend.translate(source: 'Modules', package: 'Neos.Neos', id: 'users.usernameCannotBeChanged')}">{account.accountIdentifier}</span>
                        </div>
                    </div>

                    <div class="neos-control-group{f:validation.ifHasErrors(for: 'password', then: ' neos-error')}">
                        <label class="neos-control-label" for="password[0]">{neos:backend.translate(id: 'password', package: 'Neos.Neos')}</label>
                        <div class="neos-controls">
                            <f:form.password name="password[0]" id="password[0]" class="neos-span12" />
                        </div>
                    </div>

                    <div class="neos-control-group{f:validation.ifHasErrors(for: 'password', then: ' neos-error')}">
                        <label class="neos-control-label" for="password[1]">{neos:backend.translate(source: 'Modules', package: 'Neos.Neos', id: 'users.repeatPassword')}</label>
                        <div class="neos-controls">
                            <f:form.password name="password[1]" id="password[1]" class="neos-span12" />
                            <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'password'}"/>
                        </div>
                    </div>

                    <div class="neos-control-group{f:validation.ifHasErrors(for: 'expirationDate', then: ' neos-error')}">
                        <label class="neos-control-label" for="expirationDate">{neos:backend.translate(id: 'users.account.expirationDate', value: 'Expiration Date', source: 'Modules', package: 'Flowpack.Neos.FrontendLogin')}</label>
                        <div class="neos-controls">
                            <form:form.datePicker property="expirationDate" name="expirationDate" id="expirationDate" class="neos-span12" enableDatePicker="false"/>
                            <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'expirationDate'}"/>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="neos-footer">
                <f:link.action action="edit" arguments="{user: user}" class="neos-button">{neos:backend.translate(id: 'cancel', value: 'Cancel', package: 'Neos.Neos')}</f:link.action>
                <f:form.submit value="{neos:backend.translate(source: 'Modules', package: 'Neos.Neos', id: 'users.saveAccount')}" class="neos-button neos-button-primary" />
            </div>
        </f:form>
        <f:form action="index" id="postHelper" method="post"></f:form>
    </f:alias>
</f:section>
