<f:layout name="Default" />

<f:section name="Title"></f:section>
<f:section name="Content">
    <f:form action="create"  style="margin-left: 20px" objectName="newProducto" enctype="multipart/form-data">
        
        <div class="form-group">
            <div class="row">    
                <div class ="col-lg-6 col-sm-6">
                    <label for="nombre">Nombre</label>
                    <f:form.textfield  property="nombre" class="form-control" maxlength="255"/>
                </div>    
                <div class ="col-lg-6 col-sm-6">
                    <label for="nombreEn">Nombre en Ingles</label>
                    <f:form.textfield  property="nombreEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="descripcion">Descripción</label>
                    <f:form.textfield  property="descripcion" class="form-control" maxlength="255"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                    <label for="descripcionEn">Descripción en Ingles</label>
                    <f:form.textfield  property="descripcionEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="composicion">Composición</label>
                    <f:form.textfield  property="composicion" class="form-control" maxlength="255"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                    <label for="composicionEn">Composición en Ingles</label>
                    <f:form.textfield  property="composicionEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="viaAdministracion">Vía Administración</label>
                    <f:form.textfield  property="viaAdministracion" class="form-control" maxlength="255"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                    <label for="viaAdministracionEn">Vía Administración en Ingles</label>
                    <f:form.textfield  property="viaAdministracionEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="indicaciones">Indicaciones</label>
                    <f:form.textfield  property="indicaciones" class="form-control" maxlength="255"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                    <label for="indicacionesEn">Indicaciones en Ingles</label>
                    <f:form.textfield  property="indicacionesEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="presentacion">Presentación</label>
                    <f:form.textfield  property="presentacion" class="form-control" maxlength="255"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                     <label for="presentacionEn">Presentación en Ingles</label>
                    <f:form.textfield  property="presentacionEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

         <div class="form-group">
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="posologia">Posología</label>
                    <f:form.textfield  property="posologia" class="form-control" maxlength="255"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                     <label for="posologiaEn">Posología en Ingles</label>
                    <f:form.textfield  property="posologiaEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="division">División</label>
                    <f:form.textfield property="division" class="form-control" maxlength="255"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                    <label for="divisionEn">División en Ingles</label>
                    <f:form.textfield property="divisionEn" class="form-control" maxlength="255"/>
                </div>
            </div>
        </div>
      
        <div class="form-group" >
            <div class="row"> 
                <div class ="col-lg-6 col-sm-6">
                    <label for="publicar">Publicar</label>
                    <f:form.select property="publicar" name="publicar" class="form-control" options="{0: 'NO', 1: 'SI'}"/>
                </div>
                <div class ="col-lg-6 col-sm-6">
                    <label for="categoria">Categoría</label>
                    <f:form.select  style="text-align:left;width:100%; color:black ;font-size:25px;"  property="categoria" name="categoria" options="{categorias}" optionValueField="{categorias.persistence_object_identifier}" optionLabelField="categoria" required="true"/>
                </div>
            </div>
        </div>
        

        <div class="form-group" >
            <div class="row"> 
                <div class ="col-lg-12 col-sm-12" style = "padding-top: 35px; padding-bottom: 35px;">
                    <f:form.upload property="originalResource" class="form-control-file"/>
                </div>
            </div>
        </div>

        <f:form.submit value="Almacenar" style = "height: 36px; width: 100px;  font-size: 1rem;" class="btn btn-primary"/>
        <f:link.action class="btn btn-success" action="index">Regresar</f:link.action>
    </f:form>
    
</f:section>

