<f:layout name="Default" />

<f:section name="Title">Mostrar Producto</f:section>

<f:section name="Content">
    
    <table>
        <tr>
            <th>Producto</th>
            <td>{producto.nombre}</td>
            <td><img src="{f:uri.resource(resource: producto.originalResource)}" /></td>
        </tr>
    </table>
    <f:link.action action="index">Regresar</f:link.action>
</f:section>